.register{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(rgba(255,255,255,0.5),rgba(0,0,0,0.5)),url("../../abc/Header2.jpg");
    background-size: cover;
    align-items: center;
}

.registerTitle{
    font-size: 50px;
    color: white;

}
.registerForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.registerForm label{
    margin: 10px 0;
}
.registerInput{
    padding: 10px;
    background-color: white;
    border: none;
    outline: none;
    color: #888;
}
.registerButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: coral;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}
.registerLoginButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color:lightcoral;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 600;
}